#agreement {
	border: 1px solid #aaa;
	background: #eee;
	padding: 10px;
	margin: 0 30px 10px 30px;
	width: 400px
}

#agreementBtn {
	display: block;
	margin: 10px auto
}

#AudioContainer {
	border: 1px solid #aaa;
	background: #eee;
	padding: 10px;
	margin: 0 30px 10px 30px;
	width: 400px;
	display:none
}